<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>

    <ion-item>
      <ion-label>name:</ion-label>
      <ion-input [(ngModel)]="hero.name" placeholder="name"></ion-input>

    </ion-item>
  </div>
</div>
