<app-hero-detail [hero]="selectedHero"></app-hero-detail>


<ion-list>
    <ion-list-header>

        <h2>
            My Heroes
        </h2>
    </ion-list-header>
    <ion-item *ngFor="let hero of heroes$|async" (click)="onSelect(hero)"><span>{{hero.id}}</span>{{hero.name}}
    </ion-item>
</ion-list>
