<div *ngIf="messageService.messages.length">

    <h2>Messages</h2>
    <ion-button
            (click)="messageService.clear()">clear
    </ion-button>
    <div *ngFor='let message of messageService.messages'> {{message}} </div>

</div>
