<!--<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">


    <nav>
        <a routerLink="/home">Heroes</a>

    </nav>

    <app-heroes></app-heroes>

    <app-messages></app-messages>
</ion-content>

